.tile {
  fill: springgreen
}

.can-place {
  fill: lightblue
}

.road {
  fill: midnightblue
}

.city {
  fill: gold
}

.cloister {
  fill: tan
}

.cloister-roof {
  fill: indianred
}

/*#board {
    border: 2px solid;
    padding: 2px
}

#new-tile-zone {
    border: 2px solid red;
    padding: 4px
}*/